<!DOCTYPE html>
<html>
    <head lang="en">
        {{> header}}
        <script src="/compare-report.js"></script>
        <script src="/baselines.js"></script>
        <title>{{ID}}</title>
    </head>
    <body>
        <div class="border summary" id="panel">
            {{>home}}
            <h1>{{ID}}</h1>

            {{#value.description}}
                <h2>Description:</h2>
                <p style="white-space:pre-wrap; word-wrap:break-word">{{.}}</p>
            {{/value.description}}

            <h3>Creation date: {{>date}}</h3>

            <table id="run_table"></table>

            <script>
                $(document).ready(() => {
                    var url = getRunsFormURL('{{ID}}');
                    $('#run_table').load(url, () => {
                        format();
                        setBaselineChecks();
                    });
                });
            </script>
        </div>
    </body>
</html>