<!DOCTYPE html>
<html>
    <head lang="en">
        {{> header}}
        <title>Runs</title>
    </head>
    <body>
    <div class="border summary">
        {{>home}}
        <h1><a name="summary">Monitor log outputs</a></h1>
        <table id="stats_table" border="1" cellpadding="5" >
            <tr>
                <th>Type</th>
                <th>Host</th>
                <th>Completion time</th>
            </tr>
            {{#.}}
                <tr valign="top">
                    {{#value}}
                        <td>
                            <a {{>idlink}}="getStatsURL">{{type}}</a>
                        </td>
                        <td>{{host}}</td>
                    {{/value}}
                    <td>{{>date}}</td>
                </tr>
            {{/.}}
            {{^.}}<td colspan="3">No complete logs yet.</td>{{/.}}
        </table>
    </div>
    </body>
</html>