<!DOCTYPE html>
<html lang="en">
    <head>
        {{> header}}
        <title>Performance tests</title>
    </head>

    <body>
        <div class="border summary">
            <h1>Performance tests</h1>
            <table border="1" cellpadding="5" style="white-space:pre-wrap; word-wrap:break-word" >
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
                {{#cases}}
                    <tr valign="top">
                        <td><a href="{{context-path}}/cases/{{id}}">{{value.name}}</a></td>
                        <td width="500px">{{value.description}}</td>
                        <td>{{>created}}</td>
                        <td>{{>updated}}</td>
                    </tr>
                {{/cases}}
            </table>

            <p><a href="compare">Compare test results.</a></p>
        </div>
        <br/>
        <div class="border summary">
            <h1>Add new test</h1>
            <form method="post">
                <p>
                    Name:<br>
                    <input type="text" name="name" id="name">
                </p>
                <p>
                    Description:<br>
                    <textarea rows="5" name="description" id="description"></textarea>
                </p>
                <p>
                    <input type="submit" value="Submit" name="submit" id="submit">
                </p>
            </form>
        </div>
        <br/>
    </body>
</html>