<!DOCTYPE html>
<html>
    <head lang="en">
        {{> header}}
        <script src="{{context-path}}/compare-report.js"></script>
        <script src="{{context-path}}/baselines.js"></script>
        <title>{{case.value.name}}</title>
    </head>
    <body>
        <div class="border summary" id="panel">
            {{>home}}
            {{#case}}

                <h1>{{value.name}}</h1>

                {{#value.description}}
                    <h2>Description:</h2>
                    <p style="white-space:pre-wrap; word-wrap:break-word">{{.}}</p>
                {{/value.description}}

                <h3>Created: {{>created}}</h3>
                <h3>Updated: {{>updated}}</h3>

                <table id="run_table"></table>

                <script>
                    $(document).ready(() => {
                        var url = getRunsFormURL('{{id}}');
                        $('#run_table').load(url, () => {
                            format();
                            setBaselineChecks();
                        });
                    });
                </script>
            {{/case}}
        </div>
    </body>
</html>