<link href="/lib/jquery-ui.min.css" rel="stylesheet">
<script src="/lib/jquery-ui.min.js"></script>

<script>
    $( function() {
        $( "#tabs" ).tabs();
        $( "#tps-tabs" ).tabs();
        $( "#response-time-tabs" ).tabs();
        $( "#timed-percentiles-tabs" ).tabs();
        $( "#percentiles-tabs" ).tabs();
    } );
</script>

<div id="tabs">
    <ul>
        <li><a href="#tps-box">TPS</a></li>
        <li><a href="#response-time-box">Response time means and standard deviations</a></li>
        <li><a href="#timed-percentiles-box">Response time percentiles</a></li>
        <li><a href="#percentiles-box">Response time percentiles distribution</a></li>
    </ul>

    <div id="tps-box">
        <div id="tps-tabs">
            <ul id="tps-ul"></ul>
        </div>
    </div>

    <div id="response-time-box">
        <div id="response-time-tabs">
            <ul id="response-time-ul"></ul>
        </div>
    </div>

    <div id="timed-percentiles-box">
        <div id="timed-percentiles-tabs">
            <ul id="timed-percentiles-ul"></ul>
        </div>
    </div>

    <div id="percentiles-box">
        <div id="percentiles-tabs">
            <ul id="percentiles-ul"></ul>
        </div>
    </div>
</div>
