<!DOCTYPE html>
<html>
<head lang="en">
    {{> header}}
    <script src="{{context-path}}/compare-report.js"></script>
    <script src="{{context-path}}/baselines.js"></script>
    <title>Runs</title>
</head>
<body>
    <div class="border summary">
        {{>home}}
        <table border="1" cellpadding="5" id="run_table">
            <tr>
                <th>Created</th>
                <th>Terracotta version</th>
                <th>Class name</th>
                <th>Git revision checksum</th>
                <th>Status</th>
                <th>Baseline</th>
                <th>Updated</th>
            </tr>
            {{#runs}}
                <tr>
                    <td>
                        <a {{>idlink}}='getRunURL'>{{>created}}</a>
                    </td>
                    {{#value}}
                        <td>{{version}}</td>
                        <td>{{className}}</td>
                        <td>{{checksum}}</td>
                        <td>{{status}}</td>
                        <td align="center">
                            <input type="checkbox" class="baseline-check" data-id="{{id}}" data-baseline="{{baseline}}">
                        </td>
                        <td>{{>updated}}</td>
                    {{/value}}
                </tr>
            {{/runs}}
            {{^runs}}<tr><td colspan="7">No runs yet.</td></tr>{{/runs}}
        </table>
    </div>
    <script>
        $(document).ready(setBaselineChecks());
    </script>
</body>
</html>